<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.js"></script>
  <!--<script type="text/javascript" src="amc.js"> </script>-->
	<script src="/src/app/Controller/amc.js"></script>
	<!--<script src="scripts/angular-route.min.js"></script>
	<script src="scripts/angular-cookies.min.js"></script>-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
	<link href="/src/app/Content/index.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
	<script src="/src/app/services/angularservices.js"></script>
	<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>-->
	<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src="/src/app/AuthServices/loginController.js"></script>
	<script src="/src/app/AuthServices/loginService.js"></script>
	<script src="/src/app/scripts/angular-ui-router.min.js"></script>
	<script src="/src/app/scripts/angular-route.min.js"></script>
	<script src="/src/app/SharedServices/sharedService.js"></script>
	
</head>
<body>
  <div class="col-lg-12" ng-app="TestMod" >
    <div class="col-lg-12" ng-controller="tmController">
		<div ui-view></div>
    </div>
  </div>
</body>
</html>
